html,
body {
    overflow: hidden;
    margin: 0;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 Take care of the app's blank slate.
*/
html,
body {
    height: 100%;
}

body,
body.chakra-ui-light {
    background: #fff;
}

body.app-ui-mounted {
    height: initial;
}
#root {
    background: #f8f9fa;
    width: 100%;
    min-height: 48px;
    -webkit-app-region: drag;
    box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    body,
    body.chakra-ui-dark {
        background: #111;
    }
    #root {
        background: #363636;
    }
}

.app-ui-mounted #root {
    -webkit-app-region: initial;
    min-height: initial;
    width: initial;
    background: initial;
    box-shadow: initial;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Bold-Italic.woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-ExtraBold-Italic.woff2");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-ExtraBold.woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Italic.woff2");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Medium-Italic.woff2");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Medium.woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("../../res/font/jetbrains-mono/JetBrainsMono-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}
